<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关键词云</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/htmleaf-demo.css">
    <link href="static/css/file-explore.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="htmleaf-container">
        <header class="htmleaf-header">
            <h1>
            	云标签书库
            	<span>
                    关键词的云标签
            	</span>
            </h1>
        </header>
        <div class="container">
            <h1>书目列表</h1>
            <ul class="file-tree">
                <!-- <li><a href="#">书目1</a>
                    <ul>
                        <li><a href="#">第一章</a>
                        	<ul>
                        		<li><a href="#">关键词</a>
                                    <ul><li><p>自己语言描述</p></li></ul>
                                </li>
                        	</ul>
                        </li>
                        <li><a href="#">第二章</a>
                            <ul>
                                <li><a href="#">关键词</a>
                                    <ul><li><p>自己语言描述</p></li></ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">第三章</a>
                            <ul>
                                <li><a href="#">关键词</a>
                                    <ul><li><p>自己语言描述</p></li></ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">书目2</a></li> -->
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/list.js"></script>
    <script src="static/js/file-explore.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".file-tree").filetree();
    });
    </script>
</body>

</html>